<header>
    <h1>{{title}}</h1>
</header>

<div id = "imagePostPage">
    <div id="post">
        <h2 id="post-title">Post Title:{{currentPost.title}}</h2>
        <img id="image" src="/{{currentPost.photopath}}" alt="IMAGE">
        <p id = "post-desc">{{currentPost.description}}</p>
        <p id="post-author">Post Author:{{currentPost.username}}</p>
        <p>Time Posted:<span id="time-posted">{{currentPost.created}}</span></p>   
    </div>

    <div id = "commentsArea">
        <div id = "commentBox">
            {{#each results}}
               {{> comment this}}
             {{/each}}

        </div>

        <form id = "commentSubmission" action="/getPost/{{currentPost.id}}" method = "POST"  enctype="x-www-form-urlencoded">
            <input id = "commentInput" name = "comment" id = "commentInput" type="text">
            <input id = "commentBtn" type="submit" value = "Comment">
        </form>
      
    </div>
    <a class = "goBack"href="/homeGallery">Go Back</a>
</div>
<script>
    let oldTime = document.getElementById("time-posted").innerText;
    let newTime = new Date(oldTime).toLocaleString();
    document.getElementById("time-posted").innerText = newTime;
    document.addEventListener("DOMContentLoaded", (event)=>{
        document.querySelectorAll("span[class=date-posted]").forEach((postedDate)=>{
            let oldDate = postedDate.innerHTML;
            let newDate = new Date(oldDate).toLocaleString();
            postedDate.innerText = newDate;
        });
    });
</script>
